{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <style>
    .nb4Form {
      padding:10px;
      display: flex;
      flex-direction: column;
    }
    .nb4Form .item {
      margin-bottom: 10px;
      border-radius: 5px;
    }
  </style>

  <h1 class="text-center">Заметки</h1>
  <form class="nb4Form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_field form.text %}
    {% bootstrap_field form.image %}
    {{ form.user }}
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
  <hr/>
  {% include 'navigate.html' %}
  <div style="padding:10px">
    {% for obj in queryset %}
      <span>
        {% if user.is_superuser and obj.user == user %}
          It's you
        {% endif %}
      </span>
      <span style="font-weight: 800">
        {% if user.is_superuser %}
          ({{ obj.user }})
        {% endif %}
      </span>
      <p> {{ forloop.counter }}. <b>{{obj.created_at|date:"d.m.Y"}}</b> {{ obj.text }}
        {% if obj.image %}
          <br>
          <img style="width:100%" src="{{obj.image.url }}">
        {% endif %}
      </p>
      <hr/>
    {% endfor %}
  </div>
  {% include 'navigate.html' %}
{% endblock %}
