{% extends 'base.html' %}
{% block content %}
        <h1 style="text-align:center;">МинФин: все операции</h1>
<b style="margin:10px;">Остаток: <u>{{ last_ostatoc }}</u></b>
<hr>
<div style="margin:10px;">
        <div style="text-align: center; margin-bottom: 20px;">
                    <button type="button" class="btn btn-outline-danger"><a href="?page=1">Начало</a></button>
{% if queryset.has_previous %}
        <button type="button" class="btn btn-outline-success"><a href="?page={{ queryset.previous_page_number }}">&laquo; Назад</a> </button>
{% endif %}
{% if queryset.has_next %}
            <button type="button" class="btn btn-outline-success"><a href="?page={{ queryset.next_page_number }}">Следующая &raquo;</a></button>
        {% endif %}
            </div>


        {% for minfin in queryset %}
    <p> {{ forloop.counter }}. <b>{{minfin.date_minfin|date:"d.m.Y"}}</b>  <u>{{ minfin.ostatoc_minfin }}</u>  <b>{{ minfin.sum_minfin }}</b> {{ minfin.describe_minfin }} ({{ minfin.type_table }}) </p>
        {% endfor %}


                <div style="text-align: center">
                    <button type="button" class="btn btn-outline-danger"><a href="?page=1">Начало</a></button>
{% if queryset.has_previous %}
        <button type="button" class="btn btn-outline-success"><a href="?page={{ queryset.previous_page_number }}">&laquo; Назад</a> </button>
{% endif %}

{% if queryset.has_next %}
            <button type="button" class="btn btn-outline-success"><a href="?page={{ queryset.next_page_number }}">Следующая &raquo;</a></button>
        {% endif %}
                    </div>

</div>
{% endblock %}