{% extends 'base.html' %}
{% block content %}
    <h1 class="phrase">Так будет не всегда...</h1>
    <img style="width:100%;border-radius: 5px;" src="/media/lambaZel.jpg" alt="денюжка">

    <h1 class="phrase">Было и было...</h1>
    <img style="width:100%;border-radius: 5px;" src="/media/vipusk_academy.jpg" alt="Андрэша выпускник">

    <h1 class="phrase">Кто бы мог подумать что БЧ начнётся именно так...</h1>
    <img style="width:100%;border-radius: 5px;" src="/media/v42812.jpg" alt="One day, One goal, One life, One love">

<style>
    h1.phrase {
        text-align: center;
        margin-top: 33px
    }
</style>
{% endblock %}