{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B4</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script src="{% static 'js/jqvery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body style="background: url(/media/fonBG.jpg);">
    <div class="container-fluid">
    <h1 class="table-primary" style="text-align: center;border-radius: 5px;padding: 15px; background-color:cornflowerblue">БЧ (Электронная версия 5.1)</h1>
        {% if warning != None %}
      <h1 style="text-align: center; color: #a41515">{{ warning }} </h1>
        {% endif %}
        <br>

  <form  method="POST"  style="width:275px;float:left;"> <!-- margin: 0 auto; padding-top:5%; -->
      <div  style="padding: 30px;background-color:darkcyan;border-radius: 5px;float:left;">
        {% csrf_token %}
        <h4>Имя пользователя</h4>
        <p>{{ userform.username }}</p>
            <h4>Пароль</h4>
        <p>{{ userform.password }}</p>
    <button type="submit">Выполнить вход</button>
          </div>
  </form>
        <div style="padding-left:300px;">
            <img style="width:100%;border-radius: 5px;" src="/media/lambaZel.jpg" alt="ламба черная">
        </div>


        </div>
    </div>
</body>
</html>