{% extends 'base.html' %}
{% block content %}
    <style>
        .nb4Form {
            padding:10px;
            display: flex;
            flex-direction: column;
        }
        .nb4Form .item {
            margin-bottom: 10px;
            border-radius: 5px;
        }
    </style>

    <h1 style="text-align:center;">НЛЖ</h1>
    <form class="nb4Form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea class="item" name="text_nlg" rows="3"></textarea><br>
        <input class="item" name="image_nlg" type="file">
        <input class="item" value="Отправить" type="submit">
    </form>
    <hr/>
        {% include 'navigate.html' %}
    <div style="padding:10px">
        {% for nlj in queryset %}
            <hr/>
           <p> {{ forloop.counter }}. <b>{{nlj.date_nlg|date:"d.m.Y"}}</b> {{ nlj.text_nlg }}
           {% if nlj.image_nlg %}
               <br>
               <img style="width:100%" src="{{ MEDIA_URL }}{{nlj.image_nlg }}">
           {% endif %}
           </p>
        {% endfor %}
    </div>
    {% include 'navigate.html' %}
{% endblock %}