{% extends 'base.html' %}
{% load static bootstrap5 %}
{% block content %}
    <h1 class="text-center">Создать задачу</h1>
    <form method="post">
        {% csrf_token %}
        <div class="detail">
            <div class="row">
                <div class="col">
                     {% bootstrap_field form.plan %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% bootstrap_field form.section %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% bootstrap_field form.description %}
                </div>
            </div>
        </div>
        <input style="width: 100%" type="submit">
    </form>
        <div class="row btn-active">
        <a class="col btn btn-outline-info" href="{{ request.META.HTTP_REFERER }}">
            Назад
        </a>
        <a class="col btn btn-outline-secondary" href="{% url 'task_create' %}">
            Сброс
        </a>
    </div>
    {{ form.media }}
{% endblock %}