{% extends 'base.html' %}
{% load static bootstrap5 %}
{% block content %}
    <h1 class="text-center">Редактировать Задачу</h1>
    <div class="alert-danger">{{ form.non_field_errors }}</div>
    <form method="post">
        {% csrf_token %}
        <div class="detail">
            {% bootstrap_field form.is_ready %}
            {% bootstrap_field form.plan %}
            {% bootstrap_field form.section %}
            {% bootstrap_field form.description %}
        </div>
        <input style="width: 100%" type="submit" value="Отправить">
    </form>
    <div class="row btn-active">
        <a class="col btn btn-outline-info" href="{% url 'b4:plan_detail' object.plan.id %}">
            Назад
        </a>
        <a class="col btn btn-outline-secondary" href="{% url 'b4:task_update' object.id %}">
            Отмена
        </a>
        <a class="col btn btn-outline-danger" href="{% url 'b4:task_delete' object.id %}">
            Удалить
        </a>
    </div>
{{ form.media }}
{% endblock %}